.list {
    cursor: pointer !important;
    opacity: 0.95 !important;
    border-radius: 10px;
}

.list:hover {
    opacity: 1 !important;
    color: #008100 !important;
    background-color: #F8F8F8 !important;
}